UL.LeftMenu LI.FRLeft, LI.ItmLeft, LI.LSTLeft
{
	list-style-type: none;
	padding: 5px;
	border-bottom: 1px solid white;

	margin-left: 15px;
	margin-right: 15px;
}

UL.LeftMenu a
{
	text-decoration: none;
	color: Black;
}

UL.LeftMenu LI.FRLeft:hover, LI.ItmLeft:hover, LI.LSTLeft:hover
{
	background-color: White;	
}